.ChangeButton-Wrapper {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: #660066;
    text-align: center;
    outline: none;
    color: white;
    border: none;
    box-shadow: 0 9px #a95555;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    top: 10px;
    left: 1210px;
}

.ChangeButton-Wrapper:active {
    box-shadow: 0 5px #a95555;
    transform: translateY(4px);
}
